$primary-color: #0075be;
$hover-color: #0a285f;

@font-face {
  font-family: "Pokemon";
  src: url("./assets/pokemon-gb-9621/PokemonGb-RAeo.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Pokemon";
  background-color: #dfdfdf;
  color: #333;
  text-align: center;
  background-color: #fb1b1b;
}

.quiz-container {
  padding: 1rem;
  width: 90%;
  margin: auto;
  max-width: 50rem;
  background-color: #dfdfdf;
  padding-top: 0;
  border-left: 2px $hover-color dashed;
  border-right: 2px $hover-color dashed;
  padding-top: 0.5rem;
}

.question {
  margin: 2.5rem 0;
  font-size: 1.2rem;
  p {
    line-height: 2rem;
  }
}

.answer {
  font-family: "Pokemon";
  background-color: #0075be;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.625rem 1.25rem;
  margin: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: $hover-color;
  }
  &.selected {
    background-color: $hover-color;
  }
}

#submit {
  font-family: "Pokemon";
  padding: 0.625rem 1.25rem;
  background-image: url("./assets/ball.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 15rem;
  height: 6rem;
  color: #ffcc00;
  font-weight: 700;
  text-shadow: -1px -1px 0, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin-top: 3rem;
  p {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  img {
    width: 13rem;
    height: auto;
  }
}
.poke-title {
  display: inline-block;
}

h1 {
  font-size: 2.5rem;
}

header {
  padding: 3.75rem;
  background-color: #000000;
  color: white;
}

footer {
  padding: 3.75rem;
  background-color: #000000;
  p {
    color: white;
  }
}
